:root {
  --color1: #ff4d4d;
  --color2: #002b56;
  --black: black;
  --white: white;
}
* {
  margin: 0;
  line-height: 1.6;
  box-sizing: border-box;
}
body {
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  margin-bottom: 1em;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.columns:nth-of-type(2) {
  margin: 1em 0;
}
.columns :not(div:nth-last-of-type(1)) p {
  color: var(--color2);
}
.columns div:nth-last-of-type(1) {
  padding: 1em;
  background-color: var(--color2);
  color: var(--white);
}
p:nth-of-type(2) {
  margin-top: 1em;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0.5em 0;
  color: var(--color2);
}
h1 span {
  color: var(--color1);
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
h2 {
  color: var(--color1);
}
.col-1 {
  width: 22%;
}
.col-2 {
  width: 47%;
}
.col-3 {
  width: 72%;
}
@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    row-gap: 1em;
  }
  .col {
    width: 100%;
  }
}
